<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>G00472910</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-item>
      <ion-input 
        label="Enter Ingredients" 
        labelPlacement="stacked"
        placeholder="Ingredients"
        [(ngModel)]="ingredients">
      </ion-input>
    </ion-item>
    
    <ion-button expand="block" (click)="searchRecipes()">
      Searcg Recipes
    </ion-button>
  </div>
</ion-content>