.container {
  padding: 16px;
}

ion-button {
  margin-top: 16px;
}

.recipes-grid {
  margin-top: 20px;
}

.recipe-card {
  margin-bottom: 16px;
  
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  ion-card-title {
    font-size: 16px;
  }
}